<div>
  <div class="user-details">
    <h1 style="margin-bottom: -2rem;">Projects</h1>
    <div>
      <div class="tech">
        <h3 class="text-left m-0"><a href="https://www.burenscore.mn">Burenscore.mn</a></h3>
        <p class="text-left text-italic m-0">September 2022 - present</p>
        <p class="text-left">Platform for credit score and fraud prevention alerts </p>
        <p class="text-left">Even though this system had already been implemented by another development team, our goal was to develop it from scratch. My role in this project covers the implementation and optimization of the user experience, creating tools that improve site interaction regardless of the browser, fixing bugs, and testing for usability. </p>
        <p id="git-for-wizards-tools" class="card-text">
          <span class="card-badge">Vue JS</span>
        </p>
      </div>
      <div class="tech">
        <h3 class="text-left m-0"><a href="https://www.icapital.mn">Icapital.mn</a></h3>
        <p class="text-left text-italic m-0">March 2022 - present</p>
        <p class="text-left">A secondary market system, is a part of a micro-service system of Invescore Capital, which involves two primary services - an underwriting service and a brokerage service.</p>
        <p class="text-left">As a team member in this enterprise, I work as a full-stack developer, implementing Research and Development (R&A) in every requirement that is needed to be satisfied. Because the back end of this product uses PHP programming language, I managed to flow with the development process by simultaneously learning the language and the frameworks such as Laravel, Lumen, Blade, and Orchid. Besides, writing unit tests as soon as implementing a stakeholder characteristic is a must since the project works with other sub-systems. </p>
        <p id="git-for-wizards-tools" class="card-text">
          <span class="card-badge">PHP</span>
          <span class="card-badge">PHP Laravel</span>
          <span class="card-badge">PHP Orchid</span>
          <span class="card-badge">PHP Blade</span>
          <span class="card-badge">Express JS</span>
          <span class="card-badge">Firebase</span>
          <span class="card-badge">Google Cloud Functions</span>
          <span class="card-badge">Redis</span>
        </p>
      </div>
      <div class="tech">
        <h3 class="text-left m-0"><a href="https://ipo.icapital.mn">Ipo.Icapital.mn</a></h3>
        <p class="text-left text-italic m-0">March 2022 - present</p>
        <p class="text-left">As its name stands, the immediate purpose of this system is to make the function of buying pre-IPO stock possible for retail investors. </p>
        <p class="text-left">My fundamental role is the same as in the secondary market system of Invescore Capital, as I mentioned earlier. On top of that, since the front end was written using the Vue JS web framework, it was easy to implement application behaviors relating to IPO ordering and managing user credentials. The most recent development I implemented is the SSO platform, which uses the OAuth3 protocol to manage user credentials, using Firebase Authentication Service, Firebase Admin SDK, and Google Cloud Functions. The initial approach was Keycloak, an open-source identity and access management solution, but it was insufficient as our users kept increasing.</p>
        <p id="git-for-wizards-tools" class="card-text">
          <span class="card-badge">PHP</span>
          <span class="card-badge">PHP Lumen</span>
          <span class="card-badge">Vue JS</span>
          <span class="card-badge">Express JS</span>
          <span class="card-badge">Firebase</span>
          <span class="card-badge">Google Cloud Functions</span>
          <span class="card-badge">Redis</span>
          <span class="card-badge">Centrifuge</span>
        </p>
      </div>
      <div class="tech">
        <h3 class="text-left m-0"><a href="https://order.icapital.mn">Order.Icapital.mn</a></h3>
        <p class="text-left text-italic m-0">March 2022 - present</p>
        <p class="text-left">This system differs from the other two (the secondary market and the pre-IPO stock market) by implementing an order o IPO defined by the system organizers without requiring a username or password from the user, yet it uses a national ID code instead.</p>
        <p class="text-left">I have been working on this system as a project maintainer, and the latest changes I made were using Redis, an open source (BSD licensed), in-memory data structure store, used as a database, cache, and message broker, and Centrifuge, which bridges assets like invoices, real estate, and royalties to DeFi, to listen to payment status from the server.</p>
        <p id="git-for-wizards-tools" class="card-text">
          <span class="card-badge">PHP</span>
          <span class="card-badge">PHP Lumen</span>
          <span class="card-badge">Vue JS</span>
          <span class="card-badge">Redis</span>
          <span class="card-badge">Centrifuge</span>
        </p>
      </div>
      <div class="tech">
        <h3 class="text-left m-0"><a href="https://www.finberry.mn">FinBerry.mn</a></h3>
        <p class="text-left text-italic m-0">October 2021 - present</p>
        <p class="text-left">The FinBerry platform offers three types of crowdfunding - loans (collateralized and guaranteed), incentives, and donations.</p>
        <p class="text-left">The immediate service of this company relies on several sub-systems such as admin web, user web and other server side systems. I maintain the current system status by keeping track of the ongoing work and reported issues to make sure that it gets reviewed and merged in a timely manner, delivering the vision by implementing, fixing bugs, reviewing and merging PRs directly and via contributors. The system has been developed using Django, and Django Rest which are frameworks of Python. </p>
        <p id="git-for-wizards-tools" class="card-text">
          <span class="card-badge">Python</span>
          <span class="card-badge">Django</span>
          <span class="card-badge">Django REST</span>
          <span class="card-badge">Vue JS</span>
        </p>
      </div>
      </div>
      <div class="tech">
        <h3 class="text-left m-0"><a href="https://www.corexchain.io">Corexchain.io</a></h3>
        <p class="text-left text-italic m-0">October 2021 – November 2021</p>
        <p class="text-left">I built an IEO site using WordPress for this company before the first exchange began.</p>
        <p id="git-for-wizards-tools" class="card-text">
          <span class="card-badge">WordPress</span>
        </p>
      </div>
    </div>
  </div>
  <div class="user-details">
    <h1 style="margin-bottom: -2rem;">Education</h1>
    <div>
      <div class="tech">
        <h3 class="text-left m-0">National University of Mongolia, Ulaanbaatar, Mongolia</h3>
        <p class="text-left text-italic m-0">September 2018 – Spring 2022</p>
        <p class="text-left">Bachelor degree in Software Engineering (cum laude)</p>
      </div>
      <div class="tech">
        <h3 class="text-left m-0">Erasmus Mundus LCT Scholar</h3>
        <p class="text-left text-italic m-0">October 2023 – Present</p>
        <p class="text-left">Master's degree in Language & Communication Technologies</p>
      </div>
      <div class="tech">
        <h3 class="text-left m-0">Charles University, Czech Republic</h3>
        <p class="text-left text-italic m-0">October 2023 – Present</p>
        <p class="text-left">Master's degree in Language Technologies and Computational Linguistics (LTCL)</p>
      </div>
      <div class="tech">
        <h3 class="text-left m-0">Saarland University, Germany</h3>
        <p class="text-left text-italic m-0">October 2023 – Present</p>
        <p class="text-left">Master's degree in Language Science and Technology (LST)</p>
      </div>
    </div>
  </div>
  <div class="user-details">
    <h1 style="margin-bottom: -2rem;">Industry Experience</h1>
    <div>
      <div class="tech">
        <h3 class="text-left m-0">Software engineer, AI Lab LLC</h3>
        <p class="text-left text-italic m-0">June 2021 - July 2023</p>
        <p class="text-left">As a part of the development team, I did DevOps roles such as planning, coding, and testing with skilled senior engineers in my field. When developing new products, and services, or improving those that already exist, we used to implemet R&D, utilizing the research and development process.</p>
      </div>
      <div class="tech">
        <h3 class="text-left m-0">Education Assistant, Empasoft LLC</h3>
        <p class="text-left text-italic m-0">June 2020 – December 2020</p>
        <p class="text-left">When I was a sophomore, one of my professors asked me to intern as an education assistant at Empasoft LLC. My role was to teach high schoolers about the fundamental concepts of Web Development (HTML, CSS, and JavaScript) and Java programming.</p>
      </div>
    </div>
  </div>
</div>
