<div id="particles-js">
  <div class="header">
    <div class="header-ariuka">
      <!-- Fine Circle Responsive Image -->
      <div class="header-ariuka-left">
        <div id="container" class="my-2">
          <div id="dummy"></div>
          <div id="element">
            <img src="../assets/image3.jpg" alt="Ariun-Erdene Tumurchuluun" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
          </div>
        </div>
      </div>
      <div>
        <h1 class="p-0 site-description text-left">{{ site.username }}</h1>
        <h3 style="color: white;text-align: left;font-size: 14px;margin-top: -20px;"><i class="text-left">Master of Science in Language & Communication Technologies</i></h3>
        <!-- <p>{{ site.user_description }}</p> -->
         <p>I am an MSc graduate and AI engineer with a focused research interest in alignment and fairness challenges in state-of-the-art Large Language Models (LLMs). Specifically, my main interest is understanding how multilingual models, such as Qwen, Llama, and Gemma, internally represent alignment and fairness-related concepts and whether these representations are universal, language-specific, or both, and how current mechanistic interpretability tools, ranging from representation, attention head, to monosemantic features, can help us understand and mitigate the underlying issues.</p>

          <p>My path into this area began in software engineering, where I was fortunate enough to meet my undergraduate supervisor, Khuyagbaatar, who encouraged me to pursue NLP more deeply. With his support, I applied to the prestigious Language and Communication Technologies program, a double master's degree that became the foundation of my research journey. In my second year, a software project course taught by DFKI researchers introduced me to mechanistic interpretability, which was a turning point I did not expect. There, I explored mechanistic tools and read Anthropic's blog on scaling monosemanticity, which led me to propose a thesis grounded in mechanistic interpretability. Luckily, my thesis supervisors welcomed the idea, and together with my daily supervisor Koel, we carried out a project which we eventually submitted to the MRL workshop at EMNLP 2025 in Suzhou, China, and received the Best Paper Award.</p>

          <p>Until now, we've stayed in touch and are currently working on stereotype bias spanning gender, age, sexual orientation, physical appearance, and more, across multiple model families and languages, asking to what extent these biases are represented universally versus language-dependent, and whether the patterns we find hold consistently across different model families. This work is currently under review at CoLM 2026.</p>

          <p>I am now seeking a PhD position where I can extend this line of exploration into projects that are meaningful for both academia and industry, ideally within a research environment with strong expertise in mechanistic interpretability, AI fairness, alignment, and safety.</p>
        <div class="header-icons">
          {% if site.email %}
          <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
          {% endif %}
          {% if site.twitter_username %}
          <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.instagram_username %}
          <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/{{ site.instagram_username }}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.facebook_username %}
          <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.linkedin_username %}
          <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.github_username %}
          <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.medium_username %}
          <a aria-label="My Medium" target="_blank" href="https://medium.com/{{ site.medium_username }}"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
          {% elsif site.medium_url %}
          <a aria-label="My Medium" target="_blank" href="https://{{ site.medium_url }}"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
          {% endif %}
          <a aria-label="My CV" target="_blank" href="/assets/files/cv_ariunerdene.pdf"><i class="icon header-icon" aria-hidden="true"><span class="header-icon">CV</span></i></a>
        </div>
        <div class="header-links">
          <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
        </div>
      </div>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
