<div id="particles-js">
  <div class="header">
    <div class="header-ariuka">
      <!-- Fine Circle Responsive Image -->
      <div class="header-ariuka-left">
        <div id="container" class="my-2">
          <div id="dummy"></div>
          <div id="element">
            <img src="../assets/image3.jpg" alt="Ariun-Erdene Tumurchuluun" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
          </div>
        </div>
      </div>
      <div>
        <h1 class="p-0 site-description text-left">{{ site.username }}</h1>
        <h3 style="color: white;text-align: left;font-size: 14px;margin-top: -20px;"><i class="text-left">M.Sc., Language &amp; Communication Technologies · Seeking PhD positions</i></h3>
         <p>I am an MSc graduate and AI engineer with a research focus on alignment and fairness challenges in state-of-the-art LLMs. Specifically, my main interest is understanding how state-of-the-art multilingual models internally represent alignment and fairness-related concepts and whether these representations are universal, language-specific, or both, and how mechanistic interpretability tools can help us understand and mitigate the underlying issues.</p>

          <p>My path into this area began in software engineering, where I was fortunate enough to meet my undergraduate supervisor, Khuyagbaatar, who encouraged me to pursue NLP more deeply and supported my application to the prestigious Language and Communication Technologies program, which is a double master's degree that became the foundation of my research journey. In my second year, a software project course taught by DFKI researchers introduced me to mechanistic interpretability, where I explored key tools and read Anthropic's work on scaling monosemanticity, which led me to propose a thesis grounded in this framework. My thesis supervisors welcomed the idea, and together with my daily supervisor Koel, we carried out a project which we eventually submitted to the MRL workshop at EMNLP 2025 in Suzhou, China, where it received the Best Paper Award.</p>

          <p>Since then, we have stayed in touch, and we are currently investigating stereotype bias, spanning gender, age, sexual orientation, physical appearance, and more, across multiple model families and languages, asking to what extent these biases are represented universally versus language-dependently, and whether the patterns hold consistently across different architectures. This work is currently under review at CoLM 2026.</p>

          <p>I am now seeking a PhD position where I can extend this line of exploration into projects that are meaningful for both academia and industry, ideally within a research environment with strong expertise in mechanistic interpretability, AI fairness, alignment, and safety.</p>
        <div class="header-icons">
          {% if site.email %}
          <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
          {% endif %}
          {% if site.twitter_username %}
          <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{ site.twitter_username }}"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.instagram_username %}
          <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/{{ site.instagram_username }}"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.facebook_username %}
          <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}"><i class="icon fa fa-facebook" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.linkedin_username %}
          <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.github_username %}
          <a aria-label="My Github" target="_blank" href="https://github.com/{{ site.github_username }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.medium_username %}
          <a aria-label="My Medium" target="_blank" href="https://medium.com/{{ site.medium_username }}"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
          {% elsif site.medium_url %}
          <a aria-label="My Medium" target="_blank" href="https://{{ site.medium_url }}"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
          {% endif %}
          <!-- <a aria-label="My CV" target="_blank" href="/assets/files/cv_ariunerdene.pdf"><i class="icon header-icon" aria-hidden="true"><span class="header-icon">CV</span></i></a> -->
        </div>
        <div class="header-links">
          <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
        </div>
      </div>
    </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
